
.logoDiv{
    background: url('../../../assets/images/loginIcon.jpg');
    background-size: 100% 100%;
    height: 65px;
    margin-top: 40px;

}
.MenuList{
  margin-top: 30px;

}

.MenuList > li{
  padding: 9px 10px;
  border-bottom: 1px solid #d2d2d2;
}
.MenuList > li:hover , .active{
  background-color: #e30d17;
  color:white;
}
